/*--------------------------------Général--------------------------------*/
@font-face{
    font-family: "Azonix.otf";
    src: url("Azonix.otf"); /*https://www.dafont.com/azonix.font*/
    font-weight: normal; /*Quand on utilise cette taille particulière*/
}

body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    background-image: url('../images/theHunter_Call_of_the_Wild_Features1.jpg');
}

.page {
    margin:9% 9%;
    padding-top: 1%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom: 1%;
    background-color: rgba(0,0,0,0.5); /*Noir transparent*/
    border-radius: 20px; /*Rayon des coins du block noir*/
    justify-content: center;
}
.pageDetailJeu {
    margin:9% 9%;
    padding-top: 1%;
    padding-left:15%;
    padding-right:15%;
    padding-bottom: 1%;
    background-color: rgba(0,0,0,0.5); /*Noir transparent*/
    border-radius: 20px; /*Rayon des coins du block noir*/
    justify-content: center;
}

/*--------------------------------Typographie--------------------------------*/
.azonixTitle {
    font-family: "Azonix.otf";
    text-align: center;
    justify-content: space-around;
    color: white;
}

.azonix {
    font-family: "Azonix.otf";
}

.azonixTransparent{
    font-family: "Azonix.otf";
    color: rgba(255,255,255,0.5); /*blanc transparent*/
}

.typoBlanche {
    color:white;
}

.truncate {
    text-overflow: ellipsis;
}

a {
    font-family: "Azonix.otf";
    color: rgba(255,255,255,0.5); /*blanc transparent*/
    text-decoration: none;
}

a:hover {
    font-family: "Azonix.otf";
    color: white;
    text-decoration:underline;
}
.azonixJeu {
    font-family: "Azonix.otf";
    justify-content: space-around;
}
.azonixDescription {
    font-family: "Azonix.otf";
    justify-content: space-around;
    color:white;
}

.tableau{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
table{

}

td{
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
/*--------------------------------Barre commune à toutes les pages--------------------------------*/
.barre {
    display: flex;
    margin-left:0.5%;
    margin-right:0.5%;
    flex-direction: row;
    justify-content: space-between;
}
/*Pour rechercher joueur ou jeu*/
.champs{
    margin-left:1.5%;
}
/*--------------------------------Profil----------------------------------------*/
.iconprofil {
    display: block;
    position: relative;
    width:64px;
    height:64px;
    overflow:hidden;
    vertical-align:middle;
    object-fit:cover;
    border-radius: 10px; /*Rayon des coins du block noir*/
}

.inscription {
    color: white;
    font-family: "Azonix.otf";
    margin-right : 20px;
}

.connexion {
    color: white;
    font-family: "Azonix.otf";
    margin-right : 50px;
}

/*--------------------------------Case des jeux--------------------------------*/
.bibliotheque{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
/*Checkbox des catégories de jeux*/
.checkbox {
    display:flex;
    margin-left:0.5%;
    margin-right:0.5%;
    font-family: "Azonix.otf";
    color: white;
    justify-content: space-around;
}

.casejeu{
    margin: 10px;
    width: 271px;
    position: relative;
}

.imgjeu {
    height: 377px;
    width: 271px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.inImg{
    display: block;
    object-fit: cover;
    height: 377px;
    position: absolute;
    z-index: 2;
    /*Couleurs transparentes*/
    background-color: rgba(255,255,255,0);
    color: rgba(255,255,255,0);
}

.inImg:hover{
    display: block;
    object-fit: cover;
    margin-top: 264px;
    height:113px;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    z-index: 2;
    background-color: rgba(255,255,255,1);
    color:black;
}

.noRecherche {
    display:flex;
    margin-left:0.5%;
    margin-right:0.5%;
    text-align: center;
    justify-content: space-around;
}
/*--------------------------------Regarder le détail d'un jeu--------------------------------*/

/*--------------------------------Formulaires--------------------------------*/
.formulaire{
    display:flex;
    margin-left:0.5%;
    margin-right:0.5%;
    justify-content:center;
}
.messageErreur {
    display:flex;
    margin-left:0.5%;
    margin-right:0.5%;
    text-align: center;
    color:red;
    justify-content: space-around;
}
.bouton {
    background-color: rgba(0,0,0,0);
    color:white;
    border-radius:10px;
    padding:0.2% 0.2%;
    font-family: "Azonix.otf";
    text-decoration: none;
    border:0;
    text-align:center;
    margin-left:0.5%;
    margin-right:0.5%;
}
.bouton:hover {
    text-decoration:underline;
}
/*--------------------------------Outil autre--------------------------------*/
.col1{
    display : flex;
    flex-direction: column;
}

.space{
    margin-top:8px;
    margin-bottom:8px;
}