{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        <p class="azonixTitle">Ajouter un jeu</p>
        <div class = "azonixTitle">{{form(formJeu) }}</div>
    </div>
{% endblock %}