{% extends 'base.html.twig' %}

{% block body %}
    <!--Affichage des jeux-->
    <section class="page">
        <!--<div class="checkbox">
            <p class="checkbox">Action <input type="checkbox" name=" " value=" " checked="yes"/></p>
            <p class="checkbox">RPG <input type="checkbox" name=" " value=" " checked="yes"/></p>
            <p class="checkbox">Strategie <input type="checkbox" name=" " value=" " checked="yes"/></p>
            <p class="checkbox">Aventure <input type="checkbox" name=" " value=" " checked="yes"/></p>
            <p class="checkbox">Simulation <input type="checkbox" name=" " value=" " checked="yes"/></p>
            <p class="checkbox">Sport/course <input type="checkbox" name=" " value=" " checked="yes"/></p>
        </div>-->

        <div class="bibliotheque">
        {% for jeu in contenu %}
                <div class ="casejeu">
                    <div class="inImg">
                        <p class="azonixJeu">{{ jeu.nom[:17] }}</p>
                        <p>{{ jeu.synopsis[:73] }}...</p>
                    </div>
                    <a href="{{ path('game-details', {'id': jeu.id}) }}"><img class="imgjeu" src="{{ jeu.image }}"></a>
                </div>
        {% endfor %}
        </div>

        {% if not contenu %}
        <div class="noRecherche">
            <p>
                <i>*CRI CRI CRI CRI*</i><br>
                Il n'y a rien ici !<br>
                Ce n'est peut-être pas ce que vous vouliez faire...
            </p>
        </div>
        {% endif %}

        <div class="jeux"></div>
    </section>
{% endblock %}