<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}INTEX{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="shortcut icon" href="{{ asset('images/icone.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div class="barre">
        <!--Barre de recherche-->
        <div class="searchbar">
            <span class="text"></span>
            <form action="">
                <!--<input class="bouton" type="button" value=" " />-->
                <input class="champ" type="text" placeholder="Rechercher un joueur"/>

                <!--Liens du haut-->
                <a class="azonixTransparent" href="/">Accueil</a>
            </form>
        </div>

        <div class="noconnected">
            <a href="/profile/new">Inscription</a>
            <a href="/profile/login">Connexion</a>
            <a href="/add_a_new_game">Ajouter un jeu</a>
            <a href="">Mon profil</a>
        </div>
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
